include crossbar/LEGAL
include crossbar/LICENSE
include crossbar/LICENSE-FOR-API
include crossbar/LICENSES-OSS
recursive-include crossbar/common/keys *
recursive-include crossbar/node/templates *
recursive-include crossbar/webservice/templates *
recursive-include crossbar/adapter/mqtt/test/certs *
